---
layout: main
pagination:
  enabled: true
---

<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
      </header>
      <body>
        <div class="" style="display:flex">
          <div class="about-img" style="width:40%; padding:7%; border-radius:5%"><img src="https://drive.google.com/uc?export=view&id=1cAk623mNTZX9KWrxj7kkWMYscxr4XCSm" width="100%"></div>
          <div id="" style="width:60%; padding:10px; margin:auto">{{ content }}</div>
          </div>
      </body>
    </div>
  </div>
</article>
