---
layout: main
pagination:
  enabled: true
---

<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
      </header>
      <body>
        <div class="about-page">
          <div id="about-img"><img style="border-radius:10%" src="https://drive.google.com/uc?export=view&id=1PFtnaOWKqf2w68shxeZ3kRj5yUlhmZJH" width="100%"></div>
          <div id="about-desc">{{ content }}</div>
          </div>
      </body>
    </div>
  </div>
</article>
