---
layout: default
pagination:
  enabled: true
---

<aside class="sidebar">
  <header>
    <div class="about">
      <p>{{site.about-author}}</p>
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{{site.author-img}}" alt="{{site.author}}"></a>
      </div>
    </div>
  </header> <!-- End Header -->
  <body oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>
    <ul class="menu">
      {% for i in site.urls %}
        {% if i.text == "Blog" %}
          <div class="dropdown">
            <li class="menu_item{% if page.url == i.url %} active{% endif %}">
            <button class="dropbtn"><a href="{{ i.url }}">{{ i.text }}</a></button></li>

            <div class="dropdown-content">
            {% for j in site.subblogs %}
              <li class="menu_item{% if page.url == j.url %} active{% endif %}">
              <a href="{{ j.url }}">{{ j.text }}</a></li>
            {% endfor %}
            </div>
          </div>

        {% else %}
          <li class="menu_item{% if page.url == i.url %} active{% endif %}">
          <a href="{{ i.url }}">{{ i.text }}</a></li>

        {% endif %}
      {% endfor %}
    </ul>

  </body>
  <footer>
    <section class="contact">
      <br>
			<a href="https://www.instagram.com/jihooonchung/" target="_blank" id="instagram_icon" class="instagram_button w-button"></a>
			<a href="https://brunch.co.kr/@likecrazy" target="_blank" id="brunch_icon" class="brunch_button w-button"></a>
			<a href="https://github.com/archi-j/My-studies" target="_blank" id="github_icon" class="github_button w-button"></a>
			<a href="https://issuu.com/archi_j/docs/20210101_portfolio_jh_web" target="_blank" id="issuu_icon" class="issuu_button w-button"></a>
			<a href="https://www.linkedin.com/in/jihoon-chung/" target="_blank" id="linkedin_icon" class="linkedin_button w-button"></a>
      <br>
			<a class="email-link" target="_blank" href="mailto:j_chung@kakao.com">j_chung@kakao.com</a>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      {{site.time | date: '%Y'}} &copy; {{site.author}}
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
